{{>nav}}
<form class="form" action="" method="post">
  
  <label for="name" class="form-item">
    Name:
    <input type="text" name="name" value="{{name}}">
  </label>
  
  <label for="product" class="form-item">
    Product:
    <input type="text" name="product" value="{{breed}}">
  </label>
  
  <label for="url" class="form-item">
    Url:
    <input type="text" name="url" value="{{owner}}">
  </label>
  
  <input type="submit" name="" value="Submit">
</form>