.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: rgb(255, 0, 141);
  padding: 10px;
}
#grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.grid-item:hover {
  background-color: aqua;
}

body {
  background-color: rgb(255, 0, 141);
  font-family: "Press Start 2P", cursive;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: rgb(250, 237, 39);
  color: rgb(28, 28, 28);
}

.nav-title {
  font-size: 5vw;
  font-family: "Press Start 2P", cursive;
  text-shadow: 4px 4px white;
}
